@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  --font-family: "Inter", sans-serif;
  --text-color: #000e01;
  --primary-color: #ffffff;
  --secondary-color: #618264;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
}

html {
  font-size: 10px;
}

body {
  overflow-x: hidden;
}

header{
  width: 100%;
  height: 15rem;
  background-color: aqua;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}

ul{
  display: flex;
  justify-content: space-between;
  gap: 4.5rem;
  list-style: none;
  font-size: 2rem;
}

button{
  border-radius: 50px;
  width: 18rem;
  height: 6rem;
  background-color:var(--secondary-color);
  color: var(--primary-color);
  font-size: 2.2rem;
  
}
.nganou{
  background-color: yellowgreen;
  width: 100%;
  height: 64rem;
  display: flex;
}

.pho{
  flex:1; 
}
.general{
  flex-direction: column;
  padding-right: 22rem;
  padding-top: 2rem;
}

.forget{
  justify-content: center;
}
















