@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  --font-family: "Inter", sans-serif;
  --text-color: #000e01;
  --primary-color: #ffffff;
  --secondary-color: #618264;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
}

html {
  font-size: 10px;
}

body {
  overflow-x: hidden;
  font-size: 10px;
}

header{
  width: 100%;
  height: 15rem;
  background-color: aqua;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}

ul{
  display: flex;
  justify-content: space-between;
  gap: 4.5rem;
  list-style: none;
  font-size: 2rem;
}

button{
  border-radius: 50px;
  width: 18rem;
  height: 6rem;
  background-color:var(--secondary-color);
  color: var(--primary-color);
  font-size: 2.2rem;
  
}
.nganou{
  background-color: yellowgreen;
  width: 100%;
  height: 64rem;
  display: flex;
}

.pho{
  flex:1; 
  padding-right: 2rem;

}
.general{
  flex: 1;
  flex-direction: column;
}

.forget{
  justify-content: center;
  align-items: center;
}

h3{
  font-size: 2rem;
  padding-bottom: 1rem;
}
p{
  font-size: 1.4rem;
  padding-bottom: 7rem;
}

.one{
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.two{
  padding-bottom: 2rem;
}

.text{
 padding-top: 13rem;
 padding-left: 2rem;
 padding-right: 2rem;
}



.image-section{
  width: 100%;
  height: 55rem;
  background-color: rgba(212, 0, 255, 0.993);
  flex-direction: row;
  display: flex;
}

.imgcard{
  flex: 1;
  background-color: aqua;
  padding-left: 4rem;
  padding-top: 3rem;
}

.image-card{
flex: 1;
padding-left: 3rem;
padding-top: 3rem;
}

.abou{
  flex: 1;
  background-color: cadetblue;
  padding-left: 5rem;
  padding-top: 3rem;
}

.change{
  padding-top: 2rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  width:24rem;
}

.willy{
  padding-top: 2rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  width:24rem;
}

.mike{
  padding-top: 2rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  width:24rem;
}

.bakalai{
width: 100%;
height: 79rem;
display: flex;
background-color: rgb(110, 160, 95);
flex-direction: column;
}

.kavi{
display: flex;
justify-content: space-between;
font-size:2.4rem;
padding-left: 22rem;
padding-top: 2rem;
}
.zogo{
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20PX;
  padding-right:2rem;
  padding-top: 8rem;
}

.formule{
  display: flex;
  padding-top: 8rem;
  width: 100%;
  height: 47rem;
}

.matin{
  flex: 1;
  background-color: aqua;
}

.nels{
  flex: 1;
  background-color: aquamarine;
}

.me{
  padding-bottom: 3rem;
  padding-left: 27rem;
  padding-top: 6rem;
  font-size: 2.5rem;
}

.pro{
  font-size: 2rem;
  padding-left: 4rem;
}

.pre{
  font-size: 2rem;
  padding-left: 4rem;
}

.hy{
  font-size: 2.5rem;
  padding-left: 46rem;
  padding-top: 5rem;
}

.pic{
  padding-left: 6rem;
}

.six{
  width: 100%;
  height: 50rem;
  display: flex;
  padding-top: 4rem;
}

.sit{
  flex: 1;
  padding-top: 5rem;
  padding-left: 4rem;
  font-size: 2.5rem;
  background-color: green;
}

.siy{
  flex: 1;
  padding-left: 2rem;
  font-size: 2.5rem;
  background-color: red;
}
.siu{
  flex: 1;
  font-size: 2.5rem;
  background-color: yellow;
}
h4{
  flex-direction: row;
}

.sept{
width: 100%;
height: 50rem;
background-color: #618264;
display: flex;
}

.matinal{
  padding-left: 67rem;
  position: absolute;
}

.nelson{
  padding-right: 90rem;
  position: relative;
  z-index: 2;
}

.meet{
  font-size: 2.5rem;
  padding-left: 10rem;
  padding-top: 8rem;
  padding-bottom: 4rem;
}

.problem{
  font-size: 2rem;
  padding-left: 6rem;
}

.precode{
  font-size: 2rem;
  padding-left: 8rem;
}

.univers{
  width: 100%;
  height: 58rem;
}

.reg{
  padding-left: 4rem;
}

.higth{
  display: inline-block;
  transform: rotate(90deg);
  transform-origin: left 3rem ;
  color: var(--secondary-color);
}































